<!DOCTYPE html>
<html>
  <head>
    <title>ScrabbleClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render 'layouts/header' %>

    <% if notice.present? %>
      <p class="notice alert-success"> <%= notice %> </p>
    <% elsif alert.present? %>
      <p class="alert alert-info"> <%= alert %> </p>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
